CorelDRAW Graphics Suite X6/Data/ColorPaletteSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="palette">
    <xs:complexType>
      <xs:sequence>
        
        <xs:element name="colorspaces" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="cs">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="color" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="cs" type="builtInColorSpaceName" use="required" />
                        <xs:attribute name="tints" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="customColorSpaceName" use="required" />
                  <xs:attribute name="fixedID" type="xs:unsignedShort" use="required" />
                  <xs:attribute name="version" type="xs:unsignedShort" use="optional" />
                  <xs:attribute name="process" type="xs:boolean" use="optional" default="false"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>        

        <xs:element name="colors" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="page" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="color">
                      <xs:complexType>
                        <xs:attribute name="cs" type="colorSpaceName" use="required" />
                        <xs:attribute name="resid" type="guid" use="optional" />
                        <xs:attribute name="name" type="xs:string" use="optional" />
                        <xs:attribute name="tints" type="xs:string" use="optional" />
                        <xs:attribute name="fixedID" type="xs:unsignedShort" use="optional" />
                        <xs:attribute name="colorStyleRef" type="xs:string" use="optional" />
                        <xs:attribute name="originalPaletteGuid" type="guid" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="width" type="xs:unsignedShort" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="localization" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="resource" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="EN" type="xs:string" />
                    <xs:element minOccurs="0" name="BR" type="xs:string" />
                    <xs:element minOccurs="0" name="CS" type="xs:string" />
                    <xs:element minOccurs="0" name="CT" type="xs:string" />
                    <xs:element minOccurs="0" name="CZ" type="xs:string" />
                    <xs:element minOccurs="0" name="DE" type="xs:string" />
                    <xs:element minOccurs="0" name="ES" type="xs:string" />
                    <xs:element minOccurs="0" name="FR" type="xs:string" />
                    <xs:element minOccurs="0" name="IT" type="xs:string" />
                    <xs:element minOccurs="0" name="JP" type="xs:string" />
                    <xs:element minOccurs="0" name="KR" type="xs:string" />
                    <xs:element minOccurs="0" name="MA" type="xs:string" />
                    <xs:element minOccurs="0" name="NL" type="xs:string" />
                    <xs:element minOccurs="0" name="PL" type="xs:string" />
                    <xs:element minOccurs="0" name="RU" type="xs:string" />
                    <xs:element minOccurs="0" name="SU" type="xs:string" />
                    <xs:element minOccurs="0" name="SV" type="xs:string" />
                    <xs:element minOccurs="0" name="TR" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id" type="guid" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
      </xs:sequence>
      
      <xs:attribute name="guid" type="guid" use="required" />
      <xs:attribute name="fixedID" type="xs:unsignedByte" use="optional" />
      <xs:attribute name="name" type="xs:string" use="optional" />
      <xs:attribute name="resid" type="guid" use="optional" />
      <xs:attribute name="prefix" type="xs:string" use="optional" />
      <xs:attribute name="locked" type="xs:boolean" use="optional" />
      <xs:attribute name="maxColors" type="xs:unsignedShort" use="optional" />
    </xs:complexType>
  </xs:element>
      
  <xs:simpleType name="guid">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="builtInColorSpaceName">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CMYK"/>
      <xs:enumeration value="CMY"/>
      <xs:enumeration value="RGB"/>
      <xs:enumeration value="HSB"/>
      <xs:enumeration value="HLS"/>
      <xs:enumeration value="YIQ"/>
      <xs:enumeration value="LAB"/>
      <xs:enumeration value="Gray"/>
      <xs:enumeration value="sRGB"/>
      <xs:enumeration value="AdobeRGB"/>
      <xs:enumeration value="HksRGB"/>
      <xs:enumeration value="Hexachrome"/>
      <xs:enumeration value="Registration"/>      
    </xs:restriction>
  </xs:simpleType>
   
  <xs:simpleType name="customColorSpaceName">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="colorSpaceName">
    <xs:union memberTypes="customColorSpaceName builtInColorSpaceName"/>
  </xs:simpleType>
  
</xs:schema>